<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Sociotype:</strong>
  <%= @user.sociotype %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @user.meeting %>
</p>

<p>
  <strong>Coaching:</strong>
  <%= @user.coaching %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
